body {
	margin: ;
}
nav {
	background-color: black;
	position: fixed;
	display: flex;
	flex-direction: row;
	align-items: center;
	height:;
	width: 100%;
	padding: 5px;

}
.search_box {
	display: inline-block;
	margin: 10px;
	margin-left: 20px;
	margin-right: 0;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	width: 48vw;
	height: 40px;
	border: none;
	padding-left: 7px;
	box-sizing: border-box;	
	font-weight: bold; 
}
@media only screen and (max-width: 800px) {
	.search_box {
		width: 40vw;
	}
}
.search_button:hover {
	background-color: darkorange;
}
.search_prop {
	display: flex;
}
.search_img {
	width: 28px;

}
.goods_button {
	margin-left: auto;
}
.return_button {
	background-color: black;
	margin-left: 15px;
	color: white;
	border: none;
	cursor: pointer;
	padding: 5px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 3px;
	margin-right: 10px;
	margin-bottom: 15px;
}
.return_button:hover {
	border-color: white;
}
.cart_button {
color: rgb(254, 189, 105);
background-color: black;
border: none;
font-weight: bold;
cursor: pointer;
border-style: solid;
border-width: 1px;
border-radius: 3px;
border-color: black;
margin-right: 10px;
}
.cart_button:hover {
	border-color: white;
}
.cart_img {
	width: 50px;
}
.cartandthree {
	display: flex;
	flex-direction: row;
}
.cart_word {
	color: white;
	font-weight: bold;
	display: flex;
	flex-direction: row;
	align-items: bottom;
}
.three {
	margin: 0;
	padding: 0;
	width: 10px;
	margin-left: 23px;
	font-size: 1.5em;
	position: absolute;
	top: 5px;
}
.search_button {
	width: 45px;
	height: 40px;
	background-color: rgb(254, 189, 105);
	border: none;
	margin-top: 10px;
	margin-left: 0;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	box-sizing: border-box;
	cursor: pointer;
	
}
.logo {
	width: 100px;
	height: 30px;
	padding-left: 10px;
	margin: 10px;
	display: flex;
	flex-direction: flex-end;
	margin-right: 8px;
	vertical-align: center;
	margin-top: 5px;


}

.products {
	background-color: green;
	width: 200px;
	height: 60px;
}
img {
	width: 160px;
	margin: auto auto;
	vertical-align: center;
}
.product_container {
	width: 180px;
	height: 413px;
	
	margin: 25px auto;
	
}
.eight {
	display: inline-block;
	color: skyblue;
	font-size: 20px;
	vertical-align: top;
	margin-left: 5px;
}
.rating {
	display: inline-block;
	width: 100px;
}
.rating_div {
	display: inline-block;
}
.price {
	font-size: 18px;
	font-weight: bold;
	margin: 5px;
}
.cart {
	display: block;
	border-radius: 20px;
	background-color: rgb(255, 216, 20);
	border: 1px solid rgb(252, 210, 0);
	margin: 20px auto;
	width: 170px;
	height:30px;
	cursor: pointer;
	box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}
.cart:hover {
	background-color: darkorange;
}
select {
	background-color: rgb(240, 240, 240);
	border: 1px solid rgb(213, 217, 217);
	box-shadow: 0 0 2px 1px lightgrey;
	border-radius: 8px;
	width: 40px;
}
select:hover, active {
	border-color: rgb(252, 210, 0);
}
.product_name {
	margin: 5px auto;
	padding-top: 7px;
	height: 36px;
	
}
.product_box {
	border: 1px solid black;
	width: 200px;
	height: 400px;
	margin: 10px;
}
.product_grid {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	justify-items: center;
	
}
.product_info {

}
.product_img {
	height: 179px;
	display: flex;
}
.detergent {
	width: 100px;
}
.space {
	height: 100px;
}